@model MvcOnlineCommercialAutomation.Models.Class.Category
@{
    ViewBag.Title = "GetCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Kategori Düzenleme </h2>
<br />

@using (Html.BeginForm("GetCategory", "Category", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori Ad")
        @Html.TextBoxFor(x=>x.CategoryName,new {@class="form-control" })
        @Html.HiddenFor(x=>x.CategoryId)
    </div>
    <br />
    <button class="btn btn-warning"> Güncelle</button>
}

