@model MvcOnlineCommercialAutomation.Models.Class.Department
@{
    ViewBag.Title = "AddDepartment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Departman Ekleme Sayfası</h2>
<br />

<form method="post" class="form-group">
    @Html.Label("Departman Id")
    @Html.TextBoxFor(x => x.DepartmentId, new { @class = "form-control" })
    <br />
    @Html.Label("Departman Adı")
    @Html.TextBoxFor(x => x.DepartmentName, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

